<div class="migration-statistics">
  <div class="title">
    <h1>Statistics</h1>
  </div>
  <div class="statistics">
    <div style="display: block;">
      <ngx-charts-bar-vertical
        [results]="migrationsBySeason"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Season"
        yAxisLabel="Number of Migrations">
      </ngx-charts-bar-vertical>
    </div>
    <div style="display: block;">
      <ngx-charts-bar-vertical
        [results]="migrationsByCategory"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        xAxisLabel="Category"
        yAxisLabel="Number of Migrations"
        [gradient]="false">
      </ngx-charts-bar-vertical>
    </div>
    <ngx-charts-bar-vertical-2d
      [results]="migrationsByCategoryAndSeason"
      [gradient]="false"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      xAxisLabel="Category"
      yAxisLabel="Number of Migrations">
  </ngx-charts-bar-vertical-2d>
  </div>
</div>
