$button-bgcolor: #75a130

.migration-index
  .migration-title
    display: flex
    justify-content: center
    margin-top: 10px

  .filters-bar
    padding-left: 211px

    .filters
      .filter-title
        display: flex
        .show-link
          padding-left: 10px
          display: flex
          justify-content: center
          align-items: center

    .filter-category
      display: flex
      padding: 20px 0px

      .filter
        padding-right: 20px

  .interactive-map
    display: flex
    justify-content: center

    .map
      height: 80vh // Adjust the height as necessary
      width: 80%

    .location-dot
      height: 40px
      width: 40px
      color: $button-bgcolor

    .pop-up-marker
      width: 200px
      height: 200px
