.body
  .filters-bar
    background-color: #f2f2f2
    padding: 10px
    padding-right: calc(100vw - 100%)
    border-bottom: 1px solid #ddd
    position: fixed
    top: 130px
    left: 0
    right: 0

  .filter
    margin-right: 10px

  .selectbox
    margin-right: 25px
