<div class="migration-index">
  <div class="migration-title">
    <h1>Migration Reporting Tool</h1>
  </div>
  <div class="filters-bar">
    <div class="filters">
      <div class="filter-title">
        <h3>Filters</h3>
        <a href="#" (click)="toggleShowFilters($event)" class="show-link">show filters</a>
      </div>

      <div class="filter-category" *ngIf="showFilters == true">
        <div class="filter">
          <label for="entityFilter" class="filter"><h5>Entity:</h5></label>
          <select id="entityFilter" name="entityFilter" class="selectbox" (change)="onEntityFilterChange($event)">
            <option value="All"></option>
            <option value="Humans">Humans</option>
            <option value="Birds">Birds</option>
            <option value="Animals">Animals</option>
          </select>
        </div>

        <div class="filter">
          <label for="seasonFilter" class="filter"><h5>Season:</h5></label>
          <select id="seasonFilter" name="seasonFilter" class="selectbox" (change)="onSeasonFilterChange($event)">
            <option value="All"></option>
            <option value="Summer">Summer</option>
            <option value="Autumn">Autumn</option>
            <option value="Winter">Winter</option>
            <option value="Spring">Spring</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="interactive-map">
    <div class="map" id="map"></div>
  </div>
</div>
