<div class="list-of-migrations-rect">
  <ng-container *ngIf="hasMigrations() !== true; else noMigrations ">
    <div class = "container">
      <div class="title">
        <h1>Migration List</h1>
      </div>
      <div class="migration">
        <div class="name">
          <h2>Migration 1</h2>
        </div>
        <div class="section-generic">
          <div class="info">
            <p class="type">Type:</p>
            <p>Humans</p>
          </div>
          <div class="info">
            <p class="type">Country:</p>
            <p>USA</p>
          </div>
          <div class="info">
            <p class="type">City:</p>
            <p>New York</p>
          </div>
        </div>
        <div class="section-description">
          <ng-container *ngIf="showLessDescription(); else showDescription">
            <div class="description">
              <p class="description-no-margin">
                {{this.shortDescription}}...<a [routerLink]="['/migrations/1']">show more</a>
              </p>
            </div>
          </ng-container>
          <ng-template #showDescription>
            <div class="description">
              <p>{{this.description}}</p>
            </div>
          </ng-template>
        </div>
        <button type="button" class="btn btn-danger" (click)="handleDeleteMigration()">X</button>
      </div>
    </div>
  </ng-container>

  <ng-template #noMigrations>
    <div class="display-no-migrations">
      <h3>No migrations found!</h3>
    </div>
  </ng-template>
</div>
