<nav>
  <div class="column">

    <ng-container *ngIf="user === undefined; else showLogout">
      <div class="login">
        <a [routerLink]="['']" class="btn btn-primary custom-button">Login</a>
      </div>
    </ng-container>

    <ng-template #showLogout>
      <div class="logout">
        <div class="dropdown" ngbDropdown>
          <button class="btn btn-secondary dropdown-toggle custom-button" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
            {{user?.email}}
          </button>
          <div class="dropdown-menu" ngbDropdownMenu  aria-labelledby="dropdownMenuButton">
            <button ngbDropdownItem class="dropdown-item" (click)="onLogout()">Log out</button>
          </div>
        </div>
      </div>
    </ng-template>

  </div>
  <ng-container *ngIf="user !== undefined && hideIfLanding()">
    <div class="column add-mig">
      <button class="btn btn-primary custom-button" [routerLink]="['/migrations/add']">Create New Migration</button>
    </div>
    <div class="column add-mig">
      <button class="btn btn-primary custom-button">View Migrations</button>
    </div>
  </ng-container>
</nav>
