<div class="add-migration">
  <div class="migrationForm">
    <div class="rowm singlem">
      <h1>Create a migration</h1>
    </div>

    <div class="migration-name rowm">
      <label for="name" class = "label">Name:</label>
      <input type="text" id="name" name="name" required class = "input">
    </div>

    <div class="migration-type rowm">
      <label for="type" class = "label">Type:</label>
      <select id="type" name="type" required class = "input">
        <option value="humans">Humans</option>
        <option value="birds">Birds</option>
        <option value="animals">Animals</option>
        <option value="aliens">Aliens</option>
      </select>
    </div>

    <div class="migration-description rowm">
      <label for="description" class = "label">Description:</label>
      <textarea id="description" name="description" rows="2" required class = "input"></textarea>
    </div>

    <div class="migration-location rowm">
      <label for="country" class = "label">Country:</label>
      <select id="country" name="country" required class = "input">
          <option value="usa">USA</option>
          <option value="canada">Canada</option>
          <option value="romania">Romania</option>
      </select>
    </div>

    <div class="migration-city rowm">
      <label for="city" class = "label">City:</label>
      <select id="city" name="city" required class = "input">
        <option value = "Iasi">Iasi</option>
      </select>
    </div>

    <div class="migration-contenxt rowm">
      <label for="context" class = "label">Context:</label>
      <select id="context" name="context" required class = "input">
          <option value="season">Season</option>
          <option value="political">Political</option>
          <option value="calamity">Calamity</option>
      </select>
    </div>

    <div class="migration-photo rowm">
      <label for="photo" class = "label photo-label">Photo URL:</label>
      <input type="file" id="photo" name="photo" class="photom">
    </div>

    <div class="migration-add-button singlem">
      <button type="submit" id="submitBtn" class="btn btn-primary custom-button" (click)="submitMigration()">Submit Migration</button>
    </div>
  </div>
</div>

