.add-migration
  display: flex
  justify-content: center

  .migration
    width: 50%
    margin-top: 20px

    .migration-image
      width: 100%
      object-fit: cover
      height: 400px

    .rowm
      display: flex
      justify-content: center

    .migration-user-details
      display: flex
      justify-content: space-between


    .migration-details
      margin-top: 20px
