<div class="add-migration">
  <div class="migration">
    <div class="rowm migration-photo">
      <img src="/assets/images/landing-image.png" alt="migration-image" class="migration-image img-fluid">
    </div>

    <div class="migration-name">
      <h1>Migration Nam</h1>
    </div>

    <div class="rowm migration-user-details">
      <span>Author</span>
      <span>Date time when it was created / location</span>
    </div>

    <div class="rowm migration-details">
      <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem eligendi natus facere ipsam iste eveniet nulla necessitatibus in voluptate excepturi fugiat vitae unde ea dolor minus veritatis, fuga iure corrupti.</span>
    </div>
  </div>
</div>
