<div class="add-migration">
  <ng-container *ngIf="!isLoading; else showSpinner" >
    <div class="migration">
      <div class="rowm migration-photo">
        <img src="/assets/images/landing-image.png" alt="migration-image" class="migration-image img-fluid">
      </div>

      <div class="migration-name">
        <h1>{{migration?.Name}}</h1>
      </div>

      <div class="migration-factors">
        <div class="fhalf">
          <div class="info">
            <div class="label">
              Country:
            </div>
            <div class="info">{{migration?.Country}}</div>
          </div>
          <div class="info">
            <div class="label">
              City:
            </div>
            <div class="info">{{migration?.City}}</div>
          </div>
          <div class="info">
            <div class="label">
              Category:
            </div>
            <div class="info">{{migration?.Category}}</div>
          </div>
          <div class="info">
            <div class="label">
              Category:
            </div>
            <div class="info">{{migration?.Category}}</div>
          </div>
          <div class="info">
            <div class="label">
              Season:
            </div>
            <div class="info">{{migration?.Season}}</div>
          </div>
        </div>
        <div class="shalf">
          <div class="info">
            <div class="label">
              Politic Factors:
            </div>
            <div class="info">{{migration?.PoliticFactors}}</div>
          </div>
          <div class="info">
            <div class="label">
              Calamity:
            </div>
            <div class="info">{{migration?.Calamity}}</div>
          </div>
          <div class="info">
            <div class="label">
              Working Issues:
            </div>
            <div class="info">{{migration?.Working}}</div>
          </div>
        </div>
      </div>

      <div class="rowm migration-details">
        <span>{{migration?.Description}}</span>
      </div>
    </div>
  </ng-container>
  <ng-template #showSpinner >
    <div class="spinner"></div>
  </ng-template>

</div>
